<div class="container">
	<h1>Prueba técnica - Estudio Faser</h1>
	<h2>Listado de tareas</h2>
	<div>
		<input type="text" [(ngModel)]="nuevoTitulo" placeholder="Título de la tarea" />
		<input type="number" [(ngModel)]="nuevaDuracion" placeholder="Duración" />
		<button (click)="agregarTarea()">Agregar tarea</button>
		<button (click)="eliminarTareas()" [disabled]="tareasSeleccionadas.size === 0">Eliminar Tarea</button>
		<button (click)="marcarComoDestacadas()" [disabled]="tareasSeleccionadas.size === 0">Destacadas</button>
	</div>

	<table>
		<thead>
		  <tr>
			<th>Seleccionar</th>
			<th (click)="ordenarTabla('titulo')">Título</th>
			<th (click)="ordenarTabla('minutos')">Duración</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let tarea of tareas">
			<td [ngClass]="{'destacada': tareasDestacadas.has(tarea.id)}">
				<input type="checkbox" (change)="seleccionarTarea(tarea.id)" />
			</td>
			<td [ngClass]="{'destacada': tareasDestacadas.has(tarea.id)}">{{ tarea.titulo }}</td>
			<td [ngClass]="{'destacada': tareasDestacadas.has(tarea.id)}">{{tarea.minutos}}</td>
		  </tr>
		</tbody>
	  </table>
</div>